/* begin lang */

.lang {
	margin: 5px 5px 5px 20px;
}

/* end lang */

/* begin filter */

.filtertab {
	float: left;
	margin: 0 0 0 20px;
	padding: 5px;
	height: 24px;
	line-height: 24px;
	background: #eee;
	border-bottom: none;
	cursor: pointer;
	/* border radius */
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;     
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}

.filtertab.active {
	margin-bottom: -1px;
	background: #fff;
	border: 1px solid #ddd;
	border-bottom: none;
}

.filtertab span {
	display: block;
	padding: 0 10px 0 20px;
	background: url(../img/icon_filter.png) 6px 8px no-repeat;
}

.filterhide {
	visibility: hidden;
}

.filter {
	clear: both;
	display: none;
	padding-top: 20px;
	margin-bottom: 10px;
	border-top: 1px solid #ddd;
}

.filter .col:nth-child(4n+1) {
	clear: both;
}

.filter .col select {
	float: left;
	clear: left;
}

.filter .col select.multiple,
.filter .col .moveSelect select {
	
}

.filter .col .moveSelect select {
	
}

.filter .col .formDate {
	float: left;
	clear: left;
}

.filter .col .moveSelect {
	float: left;
	clear: left;
}

.filter .col .formDate td {
	margin: 0;
	padding: 0 2px;
}

.filter .col .formDate input {
	margin: 0;
	padding: 0;
	width: 20px;
	text-align: center;
}

.filter .col .radioBox,
.filter .col .multyBox {
	float: left;
	clear: left;
}

.filter .col .radioBox div,
.filter .col .radioBox input,
.filter .col .radioBox label,
.filter .col .multyBox div,
.filter .col .multyBox input,
.filter .col .multyBox label {
	float: left;
	clear: none;
	margin: 0 5px 0 0;
	width: auto;
	height: auto;
	background: none;
	border: none;
}

.filter .col .radioBox div,
.filter .col .multyBox div {
	
}

.filter .col input[type="checkbox"] {
	width: 20px;
	background: none;
	border: none;
}

/* end filter */

/* begin popup messages */

.popupmsg {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 9999;
	margin-top: 10px;
}

/* end popup messages */

/* begin sitemap */

.sitemap ul {
	margin-left: 20px;
}

.sitemap li a {
	font-weight: bold;
	color: #08c;
}

.sitemap ul ul {
	margin-bottom: 20px;
}

.sitemap ul ul a {
	font-weight: normal;
	color: #666;
}

/* end sitemap */

/* begin list view */

.list {
	clear: both;
}

tr.even,
tr.even td {
	background-color: #f5f5f5;
}

tr.odd,
tr.odd td {
	background-color: #fff;
}

tr.firstlevel,
tr.firstlevel td {
	background-color: #e0eaec !important;
}

tr.list_row_light,
tr.list_row_light td {
	background: #1066FE !important;
}

tr.space,
tr.space td {
	height: 5px;
	padding:0 !important;
	margin:0 !important;
}

tr.childlevel td.title {
	padding-left: 32px;
}

td.title span {
	width: 100%;
	font-size: 15px;
	line-height: 15px;
}

td.title div {
	margin: 5px 0 0;
	color: #929292;
}

td.title div a.edit {
	display: -moz-inline-stack;
	display: inline-block;
	zoom: 1;
	*display: inline;
	vertical-align: top;
	padding: 0 0 0 10px;
	background: url(../img/icon_edit.png) top left no-repeat;
}

td.dragable {
	width: 14px;
	padding-left: 8px;
	padding-right: 0;
}

td.dragable span {
	display: block;
	width: 10px;
	height: 17px;
	background: url(../img/dragable.png) top left repeat-y;
	cursor: pointer;
}

td.resetorder {
	width: 14px;
	padding-right: 0;
}

td.selectable {
	width: 20px;
	padding-right: 0;
}

td.selectable input {
	margin: 0;
}

span.sort {
	float: left;
	margin-right: 5px;
	width: 0;
	height: 0;
}

span.sortdown {
	margin-top: 5px;
	border-top: 6px solid #666;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

span.sortup {
	margin-top: 5px;
	border-bottom: 6px solid #666;
	border-right: 6px solid transparent;
	border-left: 6px solid transparent;
}

td span.yes {
	display: block;
	padding: 0 0 0 15px;
	background: url(../img/icon_yes.png) left 2px no-repeat;
}

span.no {
	display: block;
	padding: 0 0 0 15px;
	background: url(../img/icon_no.png) left 2px no-repeat;
}

.tools .pagination {
	float: left;
}

.actions {
	float: right;
	margin: 10px 0 0;
}

.actions a,
.actions a:visited {
	float: left;
	margin: 0 0 0 15px;
	line-height: 18px;
	font-size: 13px;
}

.actions .cmd_btn {
	border: none;
	color: #1066F7;
	cursor: pointer;
}
.actions .add {
	padding: 0 0 0 20px;
	background: url(../img/icon_btn_add.png) top left no-repeat;
	color: #4a9b01;

}
.actions .delete {
	padding: 0 0 0 20px;
	background: url(../img/icon_btn_delete.png) top left no-repeat;
	color: #bc2001;
}

/* end list view */

/* begin HTMLTextarea */

.HTMLTextarea {
	background-color: #ebf9fc;
	border: 1px solid #b8b8b8;
}

/* end HTMLTextarea */

/* begin captcha */

.basic_captcha input {
	background-color: #ebf9fc;
	border: 1px solid #b8b8b8;
	height: 20px;
  padding: 4px 6px;
  margin-bottom: 9px;
  font-size: 14px;
  line-height: 20px;
  color: #555555;
}

/* end captcha */

/* begin page body */

.page_body {
  margin: 10px 0 20px;
  *zoom: 1;
}

.page_body:before,
.page_body:after {
  display: table;
  line-height: 0;
  content: "";
}

.page_body:after {
  clear: both;
}

/* end page body */