/*
* jsTree default theme 1.0
* Supported features: dots/no-dots, icons/no-icons, focused, loading
* Supported plugins: ui (hovered, clicked), checkbox, contextmenu, search
*/

.supportmenu {
	float: left;
	margin: 80px 0 0;
	background: url(../img/support_bgr.png) top left repeat;
	border-bottom: 1px solid #434343;
	overflow: hidden;
}
.supportmenucnt {
	float: left;
	width: 160px;
	border-right: 1px solid #434343;
	overflow: hidden;
}
.tree {
	overflow: hidden;
	width: 159px;
}
.trigger {
	float: left;
	position: absolute;
	top: 85px !important;
	left: 160px;
	width: 25px;
	border-left: 1px solid #000;
}
.trigger span {
	float: left;
	width: 25px;
	overflow: hidden;
	/* border radius */
	-webkit-border-radius: 0 3px 3px 0;
	-moz-border-radius: 0 3px 3px 0;
	border-radius: 0 3px 3px 0;     
	-webkit-background-clip: padding-box;
	-moz-background-clip: padding;
	background-clip: padding-box;
}
.trigger a {
	float: left;
	padding: 20px 0;
	width: 25px;
	color: #000;
	text-decoration: none;
	/* background gradient */
	background-color: #4688fa;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#4688fa), to(#1368fe));
	background-image: -webkit-linear-gradient(top, #4688fa, #1368fe);
	background-image: -moz-linear-gradient(top, #4688fa, #1368fe);
	background-image: -ms-linear-gradient(top, #4688fa, #1368fe);
	background-image: -o-linear-gradient(top, #4688fa, #1368fe);
	background-image: linear-gradient(top, #4688fa, #1368fe);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#4688fa', EndColorStr='#1368fe');
}
.trigger a img {
	display: block;
	margin: 0 auto;
	border: none;
}
.supportmenu h2 {
	display: block;
	margin: 0;
	padding: 0;
	font-weight: normal;
	font-size: 13px;
	font-style: normal;
	line-height: normal;
	/* background gradient */
	background-color: #3f3f3f;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#3f3f3f), to(#212121));
	background-image: -webkit-linear-gradient(top, #3f3f3f, #212121);
	background-image: -moz-linear-gradient(top, #3f3f3f, #212121);
	background-image: -ms-linear-gradient(top, #3f3f3f, #212121);
	background-image: -o-linear-gradient(top, #3f3f3f, #212121);
	background-image: linear-gradient(top, #3f3f3f, #212121);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#3f3f3f', EndColorStr='#212121');
}

.supportmenu h2 span {
	display: block;
	margin: 0 0 0 10px;
	padding: 0 10px 0 20px;
	height: 50px;
	line-height: 50px;
	background: url(../img/icon_sitemap.png) 0 20px no-repeat;
	color: #cdcdcd;
}
.jstree * {	line-height: normal; }
.jstree * {	line-height: normal; }
.jstree ul { float: left; width: 100%; margin:0; padding:0; list-style-type:none; }
.jstree li { float: left;  width: 100%; margin: 0 0 0 10px; padding: 0; clear: both; }
.jstree li li { width: 149px; }
.jstree li li li { width: 139px; }
.jstree li li li li { width: 129px; }
.jstree-rtl li { margin-right: 0 10px 0 0; }
.jstree > ul > li { margin-left:0px; }
.jstree-rtl > ul > li { margin-right:0px; }
.jstree ins {
	float: left;
	text-decoration:none;
	width:14px;
	height:18px;
	margin:4px 0;
	padding:0;
}
.jstree a {
	display: block;
	color:#2e2e2e;
	text-decoration:none;
	padding:6px 5px;
	margin:0 0 0 16px;
}
.jstree a:focus { outline: none; }
.jstree a > ins { height:16px; width:16px; }
.jstree a > .jstree-icon { margin-right:3px; }
.jstree-rtl a > .jstree-icon { margin-left:3px; margin-right:0; }
li.jstree-open > ul { display:block; }
li.jstree-closed > ul { display:none; }
 
.jstree-default li, 
.jstree-default ins {
	background-image:url("../img/d.png");
	background-repeat:no-repeat;
	background-color:transparent;
}
.jstree-default li { background-position:-90px 0; background-repeat:repeat-y; }
.jstree-default li.jstree-last { background:transparent; }
.jstree-default .jstree-open > ins { background-position:-72px 0; }
.jstree-default .jstree-closed > ins { background-position:-54px 0; }
.jstree-default .jstree-leaf > ins { background-position:-36px 0; }
.jstree-default .jstree-hovered {
	padding-top: 5px;
	padding-bottom: 5px;
 	border-top:1px solid #c3c3c3;
	border-bottom:1px solid #c3c3c3;
	/* background gradient */
	background-color: #ededed;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#ededed), to(#e0dfdf));
	background-image: -webkit-linear-gradient(top, #ededed, #e0dfdf);
	background-image: -moz-linear-gradient(top, #ededed, #e0dfdf);
	background-image: -ms-linear-gradient(top, #ededed, #e0dfdf);
	background-image: -o-linear-gradient(top, #ededed, #e0dfdf);
	background-image: linear-gradient(top, #ededed, #e0dfdf);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#ededed', EndColorStr='#e0dfdf');
 }
.jstree-default .jstree-clicked {
	padding-top: 5px;
	padding-bottom: 5px;
	border-top:1px solid #e2e2e2;
	border-bottom:1px solid #e2e2e2;
	/* background gradient */
	background-color: #f9f9f9;
	background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#ececec));
	background-image: -webkit-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -moz-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -ms-linear-gradient(top, #f9f9f9, #ececec);
	background-image: -o-linear-gradient(top, #f9f9f9, #ececec);
	background-image: linear-gradient(top, #f9f9f9, #ececec);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorStr='#f9f9f9', EndColorStr='#ececec');
}
.jstree-default a .jstree-icon { background-position:-56px -19px; display: none; }
.jstree-default a.jstree-loading .jstree-icon {
	background:url("../img/loader.gif") center center no-repeat !important;
}

.jstree-default.jstree-focused { }

.jstree-default .jstree-no-dots li, 
.jstree-default .jstree-no-dots .jstree-leaf > ins { background:transparent; }
.jstree-default .jstree-no-dots .jstree-open > ins { background-position:-18px 0; }
.jstree-default .jstree-no-dots .jstree-closed > ins { background-position:0 0; }

.jstree-default .jstree-no-icons a .jstree-icon { display:none; }

.jstree-default .jstree-search { font-style:italic; }

.jstree-default .jstree-no-icons .jstree-checkbox { display:inline-block; }
.jstree-default .jstree-no-checkboxes .jstree-checkbox { display:none !important; }
.jstree-default .jstree-checked > a > .jstree-checkbox { background-position:-38px -19px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox { background-position:-2px -19px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox { background-position:-20px -19px; }
.jstree-default .jstree-checked > a > .jstree-checkbox:hover { background-position:-38px -37px; }
.jstree-default .jstree-unchecked > a > .jstree-checkbox:hover { background-position:-2px -37px; }
.jstree-default .jstree-undetermined > a > .jstree-checkbox:hover { background-position:-20px -37px; }

#vakata-dragged.jstree-default ins { background:transparent !important; }
#vakata-dragged.jstree-default .jstree-ok { background:url("../img/d.png") -2px -53px no-repeat !important; }
#vakata-dragged.jstree-default .jstree-invalid { background:url("../img/d.png") -18px -53px no-repeat !important; }
#jstree-marker.jstree-default { background:url("../img/d.png") -41px -57px no-repeat !important; text-indent:-100px; }

.jstree-default a.jstree-search { }
.jstree-default .jstree-locked a { cursor:default; }

#vakata-contextmenu.jstree-default-context, 
#vakata-contextmenu.jstree-default-context li ul { background:#f0f0f0; border:1px solid #979797; -moz-box-shadow: 1px 1px 2px #999; -webkit-box-shadow: 1px 1px 2px #999; box-shadow: 1px 1px 2px #999; }
#vakata-contextmenu.jstree-default-context li { }
#vakata-contextmenu.jstree-default-context a { color:black; }
#vakata-contextmenu.jstree-default-context a:hover, 
#vakata-contextmenu.jstree-default-context .vakata-hover > a { padding:0 5px; background:#e8eff7; border:1px solid #aecff7; color:black; -moz-border-radius:2px; -webkit-border-radius:2px; border-radius:2px; }
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a, 
#vakata-contextmenu.jstree-default-context li.jstree-contextmenu-disabled a:hover { color:silver; background:transparent; border:0; padding:1px 4px; }
#vakata-contextmenu.jstree-default-context li.vakata-separator { background:white; border-top:1px solid #e0e0e0; margin:0; }
#vakata-contextmenu.jstree-default-context li ul { margin-left:-4px; }